@font-face {
    font-family: 'MontserratBold';
    src: url('.assets/font/Montserrat-Bold.woff2') format('woff2'), url('./font/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}